.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.app-container {
  margin-top: 20px;
}

.app-paper {
  padding: 20px;
}

.app-title {
  margin-bottom: 20px;
}

.app-input {
  margin-bottom: 20px;
}

.app-button {
  margin-top: 10px;
}

.weather-info {
  margin-top: 20px;
}

.weather-icon {
  margin-bottom: -1rem;
}

.wind-arrow {
  display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
